<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-4">

    <h2>
      Brands Management
    </h2>

    <a
      routerLink="/admin/brands/add"
      class="btn btn-primary">

      Add Brand

    </a>

  </div>

  <table class="table table-bordered table-hover">

    <thead class="table-dark">

      <tr>

        <th>ID</th>

        <th>Brand Name</th>

        <th>Description</th>

        <th>Actions</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let brand of brands">

        <td>{{ brand.id }}</td>

        <td>{{ brand.name }}</td>

        <td>{{ brand.description }}</td>

        <td>

          <a
            class="btn btn-warning btn-sm me-2"
            [routerLink]="['/admin/brands/edit', brand.id]">

            Edit

          </a>

          <button
            class="btn btn-danger btn-sm"
            (click)="deleteBrand(brand.id!)">

            Delete

          </button>

        </td>

      </tr>

    </tbody>

  </table>

  <div
    class="alert alert-info"
    *ngIf="brands.length === 0">

    No Brands Found.

  </div>

</div>